html, body {
    height: 100%; /* высота на 100% экрана */
    margin: 0; /* внешние отступы выставить в 0 пикселей */
    padding: 0; /* внутренние отступы выставить в 0 пикселей */
    font-family: 'Roboto', sans-serif; /* Шрифт Roboto, если не загрузится, то без засечек */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 5px; /* Тонкая полоса прокрутки */
}

html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2); /* Трек полосы прокрутки с прозрачностью */
}

html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background-color: rgba(12, 91, 77, 0.6); /* Цвет бегунка скроллбара */
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(22, 160, 133, 0.8); /* Более темный цвет бегунка при наведении */
}

body {
    background: url("https://wallpaperaccess.com/full/487834.jpg") no-repeat center center fixed; /* картинка заднего фона, без повторений, растянуть на весь экран, фиксированное положение */
    background-size: cover; /* растянуть на весь экран равномерно */
}


.container { /* специальный блок-контейнер, в котором и будет содержаться содержимое сайта. */
    max-width: 1440px; /* максимальная ширина контейнера - 1440 пикселей */
    min-height: 100vh; /* минимальная высота - 100% от высоты окна браузера */
    margin: 0 auto; /* всё содержимое этого блока должно выравниваться ровно по центру экрана */
    background-color: rgba(57, 57, 57, 0.2); /* задний фон этого контейнера будет тёмно-серым, почти полностью прозрачным */
}

.navigation-panel {
    list-style-type: none; /* Убираем стандартные маркеры списка */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем поля */
    display: flex; /* Используем flexbox для горизонтального выравнивания элементов */
    justify-content: space-evenly;
    background-color: inherit; /* Цвет нефрита */
    border-bottom: 1px solid #16a085; /* Нефритовая линия внизу */
    box-shadow: 0 0 10px rgba(46, 204, 113, 0.5); /*  */
}

.header-item {
    margin-right: 10px; /* Добавляем немного места между элементами */
    transition: all 0.3s ease; /* Плавное изменение фона при наведении */
}

.nav-link {
    display: block; /* Делаем ссылки блочными, чтобы они занимали весь li */
    padding: 15px 20px; /* Отступы вокруг текста */
    text-decoration: none; /* Убираем подчеркивание текста */
    color: #c3c1c1; /* Цвет текста */
    font-size: 25px; /* Размер шрифта */
    font-weight: 700; /* Жирность шрифта */
    transition: all 0.3s ease; /* Плавное изменение фона при наведении */
}

.nav-link:hover { /* спец настройка ховер. ПОзволяет стилизовать поведение элемента при наведении курсора на него */
    color: rgba(46, 204, 113, 0.7); /* цвет текста при наведении должен как-то меняться (с светло-серого на такой вот зелёный) */
    box-shadow: 0 0 10px rgba(46, 204, 113, 0.5); /* при наведении должна появляться тень у блока. Тень будет тёмно-нефритового цвета */
}

.create-subtask {
    font-weight: 600;
    box-shadow: 0 0 10px rgba(22, 160, 133, 0.6);
    border: 2px solid #16a085;
    background-color: transparent;
    color: #16a085;
    margin: 0 auto;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px; /* Слегка закругленные углы */
    display: inline-block; /* Блочно-строчный элемент для правильного отображения отступов и бордера */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход для фона и текста */
}

.create-subtask:hover {
    box-shadow: 0 0 10px rgba(22, 160, 133, 0.8);
    background-color: rgba(22, 160, 133, 0.1);
    color: #e0e0e0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Добавляет пространство между кнопками */
    align-items: center;
}

.update-button, .delete-button {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent; /* Прозрачный фон */
    transition: background-color 0.3s ease;
}

.update-button {
    text-decoration: none;
    border: 2px solid rgba(22, 160, 133, 0.6);
    box-shadow: 0 0 10px rgba(22, 160, 133, 0.8);
    color: rgba(22, 160, 133, 0.8);
}

.update-button:hover {
    background-color: rgba(22, 160, 133, 0.2);
    color: #c3c1c1;
}

.delete-button {
    text-decoration: none;
    color: rgba(231, 76, 60, 0.6);
    border: 2px solid rgba(231, 76, 60, 0.6); /* Красная граница */
    box-shadow: 0 0 10px rgba(231, 76, 60, 0.8);
}

.delete-button:hover {
    color: #c3c1c1;
    background-color: rgba(231, 76, 60, 0.2);
}
