.task-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 6em;
}

.task-block {
    width: 590px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding-right: 87px;
    position: relative;
    height: 447px;
}

.task-block::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    box-shadow: 4px 0 10px rgba(46, 204, 113, 0.5);
    pointer-events: none;
}

.task-info {
    padding: 20px 10px 0 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(46, 204, 113, 0.5);
    background-color: inherit;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

.task-info-fields {
    color: #c3c1c1
}

.task-info h2, .task-info h4, .task-info p {
    margin: 5px 0;
    font-size: 28px;
    color: rgba(22, 160, 133, 0.8);
}

.task-subtasks {
    display: flex;
    flex-direction: column;
    height: 600px;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 25px;
}

.task-subtasks::-webkit-scrollbar {
    width: 1px;
}

.task-subtasks::-webkit-scrollbar-track {
    background: rgba(22, 160, 133, 0.6);
}

.task-subtasks::-webkit-scrollbar-thumb {
    background-color: rgba(22, 160, 133, 0.6); /* Цвет бегунка скроллбара */
    border-radius: 10px; /* Закругленные углы для бегунка */
}

.task-subtasks::-webkit-scrollbar-thumb:hover {
    background-color: rgba(22, 160, 133, 0.8); /* Более темный цвет бегунка при наведении */
}

.subtask-info {
    background-color: inherit;
    border: 2px solid rgba(22, 160, 133, 0.6);
    box-shadow: 0 0 10px rgba(22, 160, 133, 0.8);
    width: 640px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-top: 3em;
    padding: 0 15px;
}

.subtask-title {
    text-decoration: none;
    color: rgba(22, 160, 133, 0.6);
    font-weight: 600;
    font-size: 26px;
    transition: 0.3s ease;
    width: 171px;
}

.subtask-title:hover {
    color: #c0bfbf;
    cursor: pointer;
}

.subtask-info h3 {
    color: rgba(22, 160, 133, 0.8);
    font-weight: 600;
    width: 171px;
}
