.new-task-title, .update-task-title {
    text-align: center;
    color: rgba(46, 204, 113, 0.5);
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

.task-container-form, .new-task-container {
    border: 1px solid rgba(46, 204, 113, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(46, 204, 113, 0.8);
    background-color: inherit;
    width: 600px;
    margin: 50px auto;
}

.form-label {
    color: rgba(46, 204, 113, 0.4);
    font-weight: 600;
    font-size: 20px;
}

.form-control {
    background-color: transparent;
    border: 1px solid rgba(46, 204, 113, 0.5);
    color: #c0bfbf;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0 0 10px rgba(46, 204, 113, 0.6);
}

.form-control::placeholder {
    color: rgba(46, 204, 113, 0.5);
}

.form-control:hover,
.form-control:focus {
    border-color: rgba(46, 204, 113, 0.75);
    box-shadow: 0 0 10px rgba(46, 204, 113, 0.8);
    outline: none;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid rgba(46, 204, 113, 0.5);
    color: rgba(46, 204, 113, 0.5);
    font-weight: 500;
    font-size: 25px;
    transition: all 0.3s ease;
    margin: 0 auto;
    width: 100%;
    padding: 14px 20px;
    cursor: pointer;
    display: block;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: rgba(46, 204, 113, 0.1);
    color: #c0bfbf;
    border-color: rgba(46, 204, 113, 0.75);
    box-shadow: 0 0 10px rgba(46, 204, 113, 0.8);
}

/* Для кастомизации стрелки выпадающего списка */
.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: '\25BC';
    color: rgba(46, 204, 113, 0.5);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.select-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
