{% extends 'main.html' %}

{% block title %}
    All Tasks
{% endblock %}

{% block content %}
    <div class="todos">
        {% if tasks %}
            {% for task in tasks %}
                <a href="{% url 'router:task:task-info' task.id %}" class="task-link">
                    <div class="task">
                        <h2><span class="task-description">Title: </span>{{ task.title }}</h2>
                        <h4><span class="task-description">Category: </span>{{ task.category }}</h4>
                        <h4><span class="task-description">Status: </span><b>{{ task.status }}</b></h4>
                        <p><b><span class="task-description">Description: </span></b>{{ task.description }}</p>
                        <h4><span class="task-description">Creator: </span>{{ task.creator }}</h4>
                        <h4><span class="task-description">Date started: </span>{{ task.date_started }}</h4>
                        <h4><span class="task-description">Deadline: </span>{{ task.deadline }}</h4>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <div class="no-tasks-block">
                <h1>Looks like you don't have any task!</h1>
                <a href="{% url 'router:task:create-task' %}" class="task">Create task</a>
            </div>
        {% endif %}
    </div>
{% endblock %}