{% extends 'main.html' %}

{% block title %}
    {{ task.title }}
{% endblock %}

{% block content %}
    <div class="task-content">
        <div class="task-block">
            <div class="task-info">
                <h2><span class="task-info-fields">Title: </span>{{ task.title }}</h2>
                <h4><span class="task-info-fields">Category: </span>{{ task.category }}</h4>
                <h4><span class="task-info-fields">Status: </span><b>{{ task.status }}</b></h4>
                <p><span class="task-info-fields">Description: </span>{{ task.description }}</p>
                <h4><span class="task-info-fields">Creator: </span>{{ task.creator }}</h4>
                <h4><span class="task-info-fields">Date started: </span>{{ task.date_started }}</h4>
                <h4><span class="task-info-fields">Deadline: </span>{{ task.deadline }}</h4>
            </div>
            <div class="button-container">
                <a href="{% url 'router:task:update-task' task.id %}" class="update-button">Update</a>
                <a href="{% url 'router:task:delete-task' task.id %}" class="delete-button">Delete</a>
            </div>
        </div>

    </div>
{% endblock %}